<!DOCTYPE html>
<html lang="en">

<head>
    
        <head>
            <script>
                $(function() {
                    $.scrollify({
                        section : ".panels",
                    });
                });
            </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#43A047">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFAB00">

    <title>This is our app</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    
    <div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>
</head>
    
<body id="page-top">
    
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content" >
                            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                        </button>
                </div>

                <div class="collapse navbar-collapse" id="nav-content">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="page-scroll" href="#home">Home!</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#raps">Rap!</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#feed">Find Raps!</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>

    <section class="panels container-fluid" id="home">
        <div class="jumbotron jumbotron-fluid fadein">
            <h2 class="section-heading">This is our great app name! Also dw I'll make ux and design nicer later so that we can win the design prize I go tyou bois <3  </h2>
            <hr class="light">
</div>
        <a href="#raps"><i class="fa fa-chevron-down animated infinite tada" aria-hidden="true"></i></a>
    </section>
        
    <section class="panels container-fluid" id="raps">
        <h2 class="section-heading">Rap with me!</h2>
        <hr>
        <form> 
            <textarea></textarea>
        </form>
    </section>


<section id="feed" class = "panels">
    
    <h2 class="section-heading ">Other People's raps! </h2>
    <hr>
<div class="wrapper">
  <a href="#"data-title="placeholder">
    <img src="http://www.petsworld.in/blog/wp-content/uploads/2014/07/dog-sleeping-with-kitten.jpg"/>
  </a>
    
  <a href="#"data-title="placeholder">
    <img src="https://66.media.tumblr.com/tumblr_m9dd4g4tKg1rdxvywo1_500.jpg"/>
  </a>
    
  <a href="#"data-title="placeholder">
    <img src="http://static.boredpanda.com/blog/wp-content/uploads/2015/11/cute-snakes-wear-hats-101__700.jpg"/>
  </a>
</div>
</section>

</body>
          
<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    
    <script src="js/scrollify.min.js"></script>
    
</footer>

</html>
